<!-- adicionando o componente navbar -->
<app-navbar></app-navbar>

<!-- 
    adicionando o local para exibir os componentes 
    carregados por meio de rotas do projeto
-->
<router-outlet></router-outlet>

<!--
    exibindo o componente de animação
    da biblioteca ngx-spinner
-->
<ngx-spinner
    bdColor="rgba(50,50,50,0.8)"
    size="medium"
    color="#fff"
    type="timer">
    <p style="font-size: 20px; color: white;">
        Processando requisição, por favor aguarde...
    </p>
</ngx-spinner>