<mat-card>
    <mat-card-title>
        Recuperação de senha do usuário
    </mat-card-title>
    <mat-card-subtitle>
        Informe seu email para recuperar sua senha de acesso.
    </mat-card-subtitle>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input type="email" matInput placeholder="Digite seu endereço de email" />
                    <mat-error>
                        <span>
                            Por favor, informe seu email de usuário.
                        </span>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary">
                    Recuperar Senha de acesso
                </button>
            </p>
        </form>
    </mat-card-content>
</mat-card>